.social-icon {
    float: right;
    margin-right: 5px
}

.site-title {
    font-family: "Helvetica Neue",Arial,sans-serif
}

#socials {
    margin-right: 100px;
}

@media screen and (max-width: 550px) {
    #socials {
        margin-right: 25;
    }
}

@media screen and (max-width: 380px) {
    #socials {
        margin-right: 25;
    }
}