.social-icon {
    float: right;
    margin-right: 5px
}

.site-title {
    font-family: "Helvetica Neue",Arial,sans-serif
}

@media screen and (max-width: 550px) {
    .social-icon {
        margin-right: 35px;
        margin-top: 15px;
        text-align: center;
    }

    .site-title {
        text-align: center;
        font-size: 45px;
    }

}

@media screen and (max-width: 375px) {
    .social-icon {
        margin-right: 15px;
        margin-top: 15px;
        text-align: center;
    }

    .site-title {
        text-align: center;
        font-size: 40px;
    }

}