.social-icon {
    float: right;
    margin-right: 15px
}

.site-title {
    font-family: "Helvetica Neue",Arial,sans-serif
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 380px) {

}